/* Font imports go here: */
/* @import url("LINK"); */

:root {
  /* Enables automatic light/dark mode based on user preference */
  color-scheme: light dark;

  /* Theme colors */
  --primary-color: green;
  --secondary-color: blue;

  /* Neutral colors */
  --white: #ffffff;
  --whitesmoke: #f5f5f5;
  --grey: #979797;
  --dark-grey: #333333;
  --black: #000000;
  --midnight-black: #0d0d0d;

  /* Base & Accent colors for light mode & dark mode */
  --base-color: light-dark(var(--primary-color), var(--primary-color));
  --accent-color: light-dark(var(--secondary-color), var(--secondary-color));

  /* Background & text color */
  --bg-color: light-dark(var(--whitesmoke), var(--midnight-black));
  --text-color: light-dark(var(--midnight-black), var(--whitesmoke));

  --font-family: "Arial, Helvetica, sans-serif"; /* Change to your preferred font-family */

  /* Link colors, uncomment to customize */
  /* --link-color: #0000ee;
  --link-visited-color: #551a8b;
  --link-hover-color: #0a58ca;
  --link-active-color: #ee0000; */

  --focus-color: var(--primary-color); /* Color for focus outlines */

  /* Button colors */
  --button-color: var(--primary-color);
  --button-hover-color: var(--secondary-color);
  --button-active-color: var(--tertiary-color);

  /* Layout */
  --header-height: 7vh;
  --footer-height: 7vh;
}
