/* Font imports go here: */
/* @import url("LINK"); */

:root {
  /* LIGHT/DARK MODE */
  color-scheme: light dark; /* Enables automatic light/dark mode based on user preference */

  /* THEME COLORS */
  /* --primary-color: ;
  --secondary-color: ; */

  /* BASE & ACCENT COLORS */
  /* --base-color: light-dark(var(--primary-color), var(--primary-color));
  --accent-color: light-dark(var(--secondary-color), var(--secondary-color)); */

  /* NEUTRAL COLORS */
  --white: #ffffff;
  --whitesmoke: #f5f5f5;
  --grey: #979797;
  --dark-grey: #333333;
  --black: #000000;
  --midnight-black: #0d0d0d;

  /* DEFAULT BACKGROUND & TEXT COLOR */
  --bg-color: light-dark(var(--whitesmoke), var(--midnight-black));
  --text-color: light-dark(var(--midnight-black), var(--whitesmoke));

  --font-family: "Arial, Helvetica, sans-serif"; /* Change to your preferred/imported font-family */

  /* LINK COLORS */
  /* --link-color: #0000ee;
  --link-visited-color: #551a8b;
  --link-hover-color: #0a58ca;
  --link-active-color: #ee0000; */

  /* --focus-color: var(--primary-color); */ /* Color for focus outlines */

  /* LAYOUT */
  --header-height: 7.5vh;
  --footer-height: 7.5vh;

  /* Button */
  /* --button-bg-color: ;
  --button-text-color: ;
  --button-hover-color: ;
  --button-active-color: ; */

  --button-border-radius: 2rem;
  --button-padding: 0.5rem 2rem;
}
