html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--header-height);
  font-size: 62.5%; /* Trick to set 1rem = 10px */
  font-family: var(--font-family);
}

body {
  font-size: 1.6rem; /* Back to default font-size, accomodating for the 62.5% */
  line-height: 1.6; /* For better readability */

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  height: fit-content;
  padding-top: calc(var(--header-height) + 1rem);
  padding-bottom: var(--footer-height);

  font-size: 1.8rem; /* Slightly larger font size for main content */

  gap: 1rem;

  /* Sections inside main */
  & section {
    height: 30vh;
    gap: 1rem;

    text-align: center;

    /* Articles inside sections in main */
    & article {
      width: 80%;
      text-align: left;
    }
  }
}

body,
aside,
main,
section,
article {
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

img,
picture,
svg,
video,
canvas {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
  transition: 0.2s ease-in-out;
}
