/* Global reset of margins, paddings, and links*/
*,
*::before,
*::after {
  box-sizing: border-box; /* OBS! This template uses border-box */
  margin: 0;
  padding: 0;

  & a {
    color: inherit;
    text-decoration: none;

    &:visited,
    &:hover,
    &:active {
      color: inherit;
      text-decoration: none;
    }
  }
}

html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--header-height);
  font-size: 62.5%; /* Trick to set 1rem = 10px */
  font-family: var(--font-family);
}

body {
  font-size: 1.6rem; /* Back to default font-size, accomodating for the 62.5% */
  line-height: 1.6; /* For better readability */

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body,
header,
aside,
main,
section,
article,
footer {
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
