/* Global reset of margins, paddings, and links*/
*,
*::before,
*::after {
  box-sizing: border-box; /* OBS! This template uses border-box */
  margin: 0;
  padding: 0;

  & a {
    color: inherit;
    text-decoration: none;

    &:visited,
    &:hover,
    &:active {
      color: inherit;
      text-decoration: none;
    }
  }
}
