/* Global reset of margins, paddings, and links*/
*,
*::before,
*::after {
  box-sizing: border-box; /* OBS! This template uses border-box */
  margin: 0;
  padding: 0;

  & a {
    color: inherit;
    text-decoration: none;

    &:visited,
    &:hover,
    &:active {
      color: inherit;
      text-decoration: none;
    }
  }
}

/* Style html & body together */
html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%; /* Trick to set 1rem = 10px */
  font-family: var(--font-family);
}

body {
  font-size: 1.6rem; /* Back to default font-size, accomodating for the 62.5% */
  line-height: 1.6; /* For better readability */

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body,
header,
aside,
main,
section,
article,
footer {
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Style header & footer together */
header,
footer {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  & nav {
    width: 100%;
    height: 100%;
    padding: 1rem 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    & ul {
      justify-content: center;
      align-items: center;
      list-style-type: none;
      display: flex;
      gap: 2rem;

      & li {
        & a {
          padding: 0.5rem;
          text-decoration: none;
        }

        & a:hover {
          text-decoration: underline;
          background-color: var();
        }
      }
    }
  }
}

header {
  top: 0;
  height: var(--header-height);

  border-bottom: var(--dark-grey) 1px solid;
}

footer {
  bottom: 0;
  height: var(--footer-height);
  border-top: var(--dark-grey) 1px solid;
}

aside {
  position: fixed;
  top: 14vh;
  right: 1vw;

  width: 14vw;
  height: 21vh;

  font-size: 2rem;
  border: var(--dark-grey) 1px solid;

  justify-content: center;

  & ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;

    & li {
      & a {
        padding: 0.5rem;
        text-decoration: none;
      }

      & a:hover {
        text-decoration: underline;
        background-color: var();
      }
    }
  }
}

main {
  padding-top: var(--header-height);
  padding-bottom: var(--footer-height);

  height: fit-content;
  gap: 1rem;

  /* Sections inside main */
  & section {
    height: 30vh;
    gap: 1rem;

    text-align: center;

    /* Articles inside sections in main */
    & article {
      width: 80%;
      text-align: left;
    }
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
