button {
  padding: 0.5rem 2rem;
  border: #007bff 2px solid;
  border-radius: 2rem;
  transition: 0.15s ease-in-out;
}

button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

button.modal-open-btn {
  background-color: #007bff;
  color: var(--white);
}

button.modal-open-btn:hover {
  box-shadow: 0 0 5px 2px #007bff;
}

/* Submit & Reset button common styling */
div.form-btn-group > button {
  color: var(--white);
}

button[type="submit"] {
  background-color: #28a745;
  border-color: #28a745;
}

button[type="submit"]:hover {
  box-shadow: 0 0 5px 2px #28a745;
}

button[type="reset"] {
  background-color: #dc3545;
  border-color: #dc3545;
}

button[type="reset"]:hover {
  box-shadow: 0 0 5px 2px #dc3545;
}
