body > footer {
  width: 100%;
  min-height: var(--footer-height);

  position: fixed;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--bg-color);
  color: var(--text-color);
  border-top: var(--dark-grey) 1px solid;

  text-align: center;
}

body > footer {
  & nav {
    width: 100%;
    height: 100%;

    padding: 1rem 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    & > ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      list-style-type: none;

      & > li {
        display: flex;
        align-items: center;

        & a {
          padding: 0.5rem;
          text-decoration: none;
        }

        & a:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
