body > header {
  width: 100%;
  height: var(--header-height);

  position: fixed;
  top: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--bg-color);
  color: var(--text-color);
  border-bottom: var(--dark-grey) 1px solid;
}

body > header {
  & nav {
    width: 100%;
    height: 100%;

    padding: 1rem 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    & > ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      list-style-type: none;

      & > li {
        display: flex;
        align-items: center;

        & a {
          padding: 0.5rem;
          text-decoration: none;
        }

        & a:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
