dialog[open] {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  padding: 1rem;

  background-color: var(--bg-color);
  border: var(--white) solid 3px;
  border-radius: 1rem;

  & > section {
    display: flex;
    flex-direction: column;
  }
}

button.modal-open-btn:disabled {
  background-color: #ccc;
  border-color: #ccc;
  box-shadow: none;
  cursor: not-allowed;
  opacity: 0.8;
}

button.modal-close-btn {
  aspect-ratio: 1 / 1;
  padding: 0.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: flex-end;

  background: transparent;
  color: red;
  border: red solid 2px;
  border-radius: 999px;
  cursor: pointer;

  line-height: 1;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;

  transition: 0.05s ease-in-out;
}

button.modal-close-btn:hover {
  background-color: red;
  color: var(--white);
  border: red solid 2.5px;
  filter: drop-shadow(0 0 2px red);
  transform: none;
  box-shadow: inset 0 0px 5px red;
}
